{% extends "base.html" %}

{% block content %}

<header class="head-container">
    <h1>Кириллица и гаевица</h1>
</header>
<lead>Сербы одновременно используют два алфавита — кириллицу и латиницу. Да, дети в школах пишут две прописи.</lead>

<div class="alpha-content">
    <section>В сербском языке используются два алфавита — кириллица и латиница. Кириллицей славяне стали пользоваться с X века. Старая кириллица, созданная для старославянского языка, не соответствовала фонетической системе сербского языка, поэтому неоднократно (в XIII, XV, XVIII веках) подвергалась преображению с целью приблизить письмо к произношению. В своем современном виде сербская кириллица — результат реформы Вука Караджича, который преобразовал ее в соответствии с фонетическим принципом письма: «Пиши, как говоришь, и читай, как написано». Она состоит из 30 букв, каждая из которых соответствует одному звуку.</section>
    <section>Латиница появилась у сербов значительно позже кириллицы. В своем современном виде она оформилась в XIX веке. В латинице 27 букв, так как трем кириллическим буквам љ, њ, џ в латинице соответствуют lj, nj, dž. Буква đ передается иногда диграфом dj.</section>
    <section>Оба алфавита равноправны, но традиционное преимущество имеет кириллица.</section>
    <section></section>

    <section><h2>Сербский алфавит</h2></section>

    <table class="alphabet">
        <thead>
        <th class="cyrillic">Кириллица</th>
        <th class="latin">Гаевица</th>
        <th class="examples">Примеры</th>
        <th class="comment">Как читать</th>
        </thead>

        {% set ns = namespace(i = 0) %}
        {% for item in alpha_list %}
        <tr class={{letters[ns.i]}}>
            <td class="cyrillic">{{item.get('Кириллица')}}</td>
            <td class="latin">{{item.get('Гаевица')}}</td>
            <td class="examples">{{item.get('Примеры')}}</td>
            <td class="comment">{{item.get('Как читать')}}</td>
        </tr>
        {% set ns.i = ns.i + 1 %}
        {% endfor %}

    </table>

    <section>Материалы взяты из учебника О. И. Трофимкиной и Д. Дракулич-Прийма <a href="https://karo.spb.ru/uchebniki-posobiya-po-inostrannym-yazykam/drugie-yazyki/serbskiy/serbskiy-yazyknachalnyy-kurs-izd-4-pereplet/">«Сербский язык. Начальный курс»</a>.</section>
    <section></section>

    <section><h2>Дополнительные материалы</h2></section>
    <table>
        <tr>
            <td>[Видео]</td>
            <td><a href="https://youtu.be/pAay23ji4lA">Сербка рассказывает про гласные (самогласници) и согласные (сугласници)</a> (7 минут)</td>
        </tr>
        <tr>
            <td>[Видео]</td>
            <td><a href="https://www.youtube.com/watch?v=uV2LMn3P0fo">Детская песня с азбукой</a> (2,5 минуты)</td>
        </tr>
        <tr>
            <td>[Видео]</td>
            <td><a href="https://youtu.be/GSaMGFGzpYc">Посмеяться над пародией на сербский язык</a> (2,5 минуты)</td>
        </tr>
    </table>
</div>

{% endblock %}

