{% extends "base.html" %}

{% block content %}

<!--<body>-->
<!--    <main class="main-longread">-->
<!--        <menu class="container">-->
<!--            <a href="index.html" class="menu-link">Учебник</a>-->
<!--            <a href="https://ru.wikipedia.org/wiki/Сербский_язык" class="menu-link">О сербском языке</a>-->
<!--            <a href="useful.html" class="menu-link">Полезные материалы</a>-->
<!--        </menu>-->
<header class="head-container">
    <h1>Кириллица и гаевица</h1>
</header>
<lead>Сербы одновременно используют два алфавита — кириллицу и латиницу. Да, дети в школах пишут две прописи.</lead>

<div class="alpha-content">
    <section>В сербском языке используются два алфавита — кириллица и латиница. Кириллицей славяне стали пользоваться с X века. Старая кириллица, созданная для старославянского языка, не соответствовала фонетической системе сербского языка, поэтому неоднократно (в XIII, XV, XVIII веках) подвергалась преображению с целью приблизить письмо к произношению. В своем современном виде сербская кириллица — результат реформы Вука Караджича, который преобразовал ее в соответствии с фонетическим принципом письма: «Пиши, как говоришь, и читай, как написано». Она состоит из 30 букв, каждая из которых соответствует одному звуку.</section>
    <section>Латиница появилась у сербов значительно позже кириллицы. В своем современном виде она оформилась в XIX веке. В латинице 27 букв, так как трем кириллическим буквам љ, њ, џ в латинице соответствуют lj, nj, dž. Буква đ передается иногда диграфом dj.</section>
    <section>Оба алфавита равноправны, но традиционное преимущество имеет кириллица.</section>
    <section></section>

    <section><h2>Сербский алфавит</h2></section>
    <table class="alphabet">
        <thead>
            <th class="cyrillic">Кириллица</th>
            <th class="latin">Гаевица</th>
            <th class="examples">Примеры</th>
            <th class="comment">Как читать</th>
        </thead>
        <tr class="letter-a">
            <td class="cyrillic">Аа</td>
            <td class="latin">Аа</td>
            <td class="examples"> адреса, браћа, варош, башта, данас, задатак</td>
            <td class="comment">Произносится как русский ударный [а]. Бывает беглым.</td>
        </tr>
        <tr class="letter-b">
            <td class="cyrillic">Бб</td>
            <td class="latin">Вв</td>
            <td class="examples">Београд, библиотека, брaт</td>
            <td class="comment">Произносится как русский [б].</td>
        </tr>
        <tr class="letter-v">
            <td class="cyrillic">Вв</td>
            <td class="latin">Vv</td>
            <td class="examples">ваздух, вода, воjска, време</td>
            <td class="comment">Произносится как русский [в].</td>
        </tr>
        <tr class="letter-g">
            <td class="cyrillic">Гг</td>
            <td class="latin">Gg</td>
            <td class="examples">газда, гест, глума</td>
            <td class="comment">Произносится как русский [г].</td>
        </tr>
        <tr class="letter-d">
            <td class="cyrillic">Дд</td>
            <td class="latin">Dd</td>
            <td class="examples">далеко, ден, дим, двориште, дечак, диск</td>
            <td class="comment">Произносится как русский твердый [д].</td>
        </tr>
        <tr class="letter-dj">
            <td class="cyrillic">Ђђ</td>
            <td class="latin">Đđ</td>
            <td class="examples">ђак, ђердан, ђурђевак</td>
            <td class="comment">Произносится как слитно произнесенное [дьжь].</td>
        </tr>
        <tr class="letter-e">
            <td class="cyrillic">Ее</td>
            <td class="latin">Ее</td>
            <td class="examples">ево, енклитика, делo, тема, епоха, зeмља</td>
            <td class="comment">Произносится как русский [э] под ударением, никогда не бывает беглым.</td>
        </tr>
        <tr class="letter-ž">
            <td class="cyrillic">Жж</td>
            <td class="latin">Žž</td>
            <td class="examples">жалост, живот, жена, жица</td>
            <td class="comment">Произносится как русский [ж].</td>
        </tr>
        <tr class="letter-z">
            <td class="cyrillic">Зз</td>
            <td class="latin">Zz</td>
            <td class="examples">зима, завичај, задатак, затим, зграда, звезда</td>
            <td class="comment">Произносится как русский [з].</td>
        </tr>
        <tr class="letter-i">
            <td class="cyrillic">Ии</td>
            <td class="latin">Ii</td>
            <td class="examples">изићи, извор, изложба, именица, ипак, тип</td>
            <td class="comment">Произносится как русский звук [и].</td>
        </tr>
        <tr class="letter-k">
            <td class="cyrillic">Кк</td>
            <td class="latin">Kk</td>
            <td class="examples">камен, како, капија, киша, кафа, колач</td>
            <td class="comment">Произносится как русский [к].</td>
        </tr>
        <tr class="letter-l">
            <td class="cyrillic">Лл</td>
            <td class="latin">Ll</td>
            <td class="examples">лампа, лук, лав, леп, лето, лист, литар</td>
            <td class="comment">Произносится более мягко, чем русский твердый [л] (кончик языка при его произношении касается альвеол).</td>
        </tr>
        <tr class="letter-lj">
            <td class="cyrillic">Љљ</td>
            <td class="latin">Lj, lj</td>
            <td class="examples">љубав, људи, љут, љуљашка, недеља, поље</td>
            <td class="comment">Произносится несколько мягче русского мягкого [л].</td>
        </tr>
        <tr class="letter-m">
            <td class="cyrillic">Мм</td>
            <td class="latin">Mm</td>
            <td class="examples">магла, мајка, маказе, много, момак</td>
            <td class="comment">Произносится как русский [м].</td>
        </tr>
        <tr class="letter-n">
            <td class="cyrillic">Нн</td>
            <td class="latin">Nn</td>
            <td class="examples">нада, накит, него, нигде, нико, нoс</td>
            <td class="comment">Произносится как русский твердый [н].</td>
        </tr>
        <tr class="letter-nj">
            <td class="cyrillic">Њњ</td>
            <td class="latin">Nj, nj</td>
            <td class="examples">његов, њива, коњ, њушити, диња</td>
            <td class="comment">Произносится несколько мягче русского мягкого [н].</td>
        </tr>
        <tr class="letter-o">
            <td class="cyrillic">Оо</td>
            <td class="latin">Оо</td>
            <td class="examples">обала, облак, добро, отворити, водоскок</td>
            <td class="comment">Произносится как русский [о] под ударением. Никогда не редуцируется, не произносится как [а]. Не бывает беглым.</td>
        </tr>
        <tr class="letter-p">
            <td class="cyrillic">Пп</td>
            <td class="latin">Pp</td>
            <td class="examples">пажња, памет, петак, писац, поглед, пас</td>
            <td class="comment">Произносится как русский [п].</td>
        </tr>
        <tr class="letter-r">
            <td class="cyrillic">Рр</td>
            <td class="latin">Rr</td>
            <td class="examples">радити, радо, реп, речник, риба, рука, крв, ср на, врло, крст, грмље, рт, брдо</td>
            <td class="comment">Неслоговое, произносится как русский твердый [р]. При произношении слогообразующего [р] поверхностное соприкосновение языка с альвеолами более широко.</td>
        </tr>
        <tr class="letter-s">
            <td class="cyrillic">Сс</td>
            <td class="latin">Ss</td>
            <td class="examples">село, стô, сећати се, сладолед, слово, снег</td>
            <td class="comment">Произносится как русский [с].</td>
        </tr>
        <tr class="letter-t">
            <td class="cyrillic">Тт</td>
            <td class="latin">Tt</td>
            <td class="examples">топ, тежак, тепих, тим, тих</td>
            <td class="comment">Произносится как русский твердый [т].</td>
        </tr>
        <tr class="letter-ć">
            <td class="cyrillic">Ћћ</td>
            <td class="latin">Ćć</td>
            <td class="examples">ћуд, ћутати, ћуприја, ноћ, срећа</td>
            <td class="comment">Произносится мягче русского [ч].</td>
        </tr>
        <tr class="letter-">
            <td class="cyrillic">Уу</td>
            <td class="latin">Uu</td>
            <td class="examples">увек, увече, узор, унук, устанак, уторак</td>
            <td class="comment">Произносится как русский [у].</td>
        </tr>
        <tr class="letter-f">
            <td class="cyrillic">Фф</td>
            <td class="latin">Ff</td>
            <td class="examples">фото, фудбал, фебруар, флаша</td>
            <td class="comment">Произносится как русский [ф]. Обычно встречается в заим- ствованных словах.</td>
        </tr>
        <tr class="letter-h">
            <td class="cyrillic">Хх</td>
            <td class="latin">Hh</td>
            <td class="examples">ухо, хвала, хлеб, хладан</td>
            <td class="comment">Речевые органы менее напряжены, чем при произношении русского [х].</td>
        </tr>
        <tr class="letter-c">
            <td class="cyrillic">Цц</td>
            <td class="latin">Cc</td>
            <td class="examples">цар, цена, цигла, црква, цртеж</td>
            <td class="comment">Произносится как русский [ц].</td>
        </tr>
        <tr class="letter-č">
            <td class="cyrillic">Чч</td>
            <td class="latin">Čč</td>
            <td class="examples">чак, час, чврст, чело, четвртак</td>
            <td class="comment">Произносится несколько тверже русского [ч].</td>
        </tr>
        <tr class="letter-dž">
            <td class="cyrillic">Џџ</td>
            <td class="latin">Dž, dž</td>
            <td class="examples">џбун, џамија, џез, инаџија, џак, отаџбина</td>
            <td class="comment">Произносится как слитное [дж].</td>
        </tr>
        <tr class="letter-š">
            <td class="cyrillic">Шш</td>
            <td class="latin">Šš</td>
            <td class="examples">шах, школа, штедети, шубара, шип, шишарка</td>
            <td class="comment">Произносится как русский [ш].</td>
        </tr>
    </table>

    <section>Материалы взяты из учебника О. И. Трофимкиной и Д. Дракулич-Прийма <a href="https://karo.spb.ru/uchebniki-posobiya-po-inostrannym-yazykam/drugie-yazyki/serbskiy/serbskiy-yazyknachalnyy-kurs-izd-4-pereplet/">«Сербский язык. Начальный курс»</a>.</section>
    <section></section>

    <section><h2>Дополнительные материалы</h2></section>
    <table>
        <tr>
            <td>[Видео]</td>
            <td><a href="https://youtu.be/pAay23ji4lA">Сербка рассказывает про гласные (самогласници) и согласные (сугласници)</a> (7 минут)</td>
        </tr>
        <tr>
            <td>[Видео]</td>
            <td><a href="https://www.youtube.com/watch?v=uV2LMn3P0fo">Детская песня с азбукой</a> (2,5 минуты)</td>
        </tr>
        <tr>
            <td>[Видео]</td>
            <td><a href="https://youtu.be/GSaMGFGzpYc">Посмеяться над пародией на сербский язык</a> (2,5 минуты)</td>
        </tr>
    </table>
</div>
<!--    </main>-->

{% endblock %}


<!--        <footer class="container">-->
<!--            <p class="menu-link">Аня Кочановская</p>-->
<!--            <a class="menu-link" href="">Проект на GitHub</a>-->
<!--            <p class="menu-link">Сделано в рамках курса по веб-разработке в 3 семестре</p>-->
<!--        </footer>-->
<!--    </main>-->
<!--</body>-->
<!--</html>-->