{% extends "base.html" %}

{% block content %}

<header class="head-container" xmlns="http://www.w3.org/1999/html">
    <h1>Глагол-связка <i>бити</i></h1>
</header>
<!--<lead></lead>-->

<div class="biti-content">
    <section>В сербской и русской филологической традиции этот глагол называют по-разному. Русские филологи считают супплетивной формой глагола <i>бити</i>. Сербские лингвисты называют глаголом <i>бити</i> только формы с корнем <i>-буд-</i>. Перечисленные ниже формы они считают отдельными неправильными глаголами <i>јесам</i> и <i>нисам</i>, которые не имеют инфинитива.</section>
    <section></section>
    <section><h2>Спряжение глагола <i>бити</i> в настоящем времени</h2></section>
    <table class="biti">
        <thead>
        <tr>
            <th class="face" rowspan="3">Лицо</th>
            <th class="full" colspan="2" >Полная форма</th>
            <th class="concise" colspan="2">Краткая форма</th>
        </tr>
        <tr>
            <th class="singular">ед. ч.</th>
            <th class="plural">мн. ч.</th>
            <th class="singular">ед. ч.</th>
            <th class="plural">мн. ч.</th>
        </tr>
        </thead>
        <tr class="first-face">
            <td class="singular">1</td>
            <td class="singular">ја јесам</td>
            <td class="plural">ми јесмо</td>
            <td class="singular">ја сам</td>
            <td class="plural">ми смо</td>
        </tr>
        <tr class="second-face">
            <td class="singular">2</td>
            <td class="singular">ти јеси</td>
            <td class="plural">ви јесте</td>
            <td class="singular">ти си</td>
            <td class="plural">ви сте</td>
       </tr>
        <tr class="third-face">
            <td class="singular">3</td>
            <td class="singular">он јесте<br>она јесте<br>оно јесте</td>
            <td class="plural">они јесу<br>оне јесу<br>она јесу</td>
            <td class="singular">он је<br>она је<br>оно је</td>
            <td class="plural">они су<br>оне су<br>она су</td>
    </table>

    <section><strong>Краткая форма</strong> используется в следующих случаях:
        <ul>
            <li>в качестве нейтральной формы для связи подлежащего и именного сказуемого;
            <p><i>Ја сам студенткиња.</i> — Я студентка.</p>
            <p><i>Ти си добро.</i> — У тебя всё в порядке.</p></li>

            <li>для образования формы перфекта — простого прошедшего времени;
            <p><i>Ви сте били код куће.</i> — Вы были дома.</p>
            <p><i>Оне су одмарале.</i> — Они (женщины) отдыхали.</p></li>

            <li>для образования вопроса с конструкцией <i>да ли</i> при именном сказуемом;
            <p><i>Да ли си (ти) спортиста?</i> — Ты спортсмен?</p>
            <p><i>Да ли jе (она) сестра?</i> — Она сестра?</p></li>

            <li>в качестве исключения для образования вопроса с помощью глагола <i>бити</i> в 3-м лице ед. числа;
            <p><i>Je ли oн брат?</i> — Он брат?</p>
            <p><i>Је ли ово твоја књига?</i> — Это твоя книга?</p></li>
        </ul>
        <section></section>
        <p>Краткая форма глагола <i>бити</i> является энклитикой — безударным словом. По правилу энклитики занимают место после первого ударного слова в предложении. Когда личное местоимение опускается, в предложении меняется порядок слов:</p>
        <p><i>Ја сам студенткиња. — Студенткиња сам.</i></p>
        <p><i>Ти си добро. — Добро си.</i></p>
        <p><i>Ви сте били код куће. Били сте код куће.</i></p>
        <p><i>Оне су одмарале. — Одмарале су.</i></p></section>

    <section></section>

    <section><strong>Полная форма</strong> используется при следующих условиях:
        <ul>
            <li>когда глагол <i>бити</i> встает на первое место в предложении и вынужденно становится носителем ударения. Часто такое положение глагольной формы указывает на логическое ударение;
                <p><i>Јесам студенткиња, морате дати попуст.</i> — Я на самом деле студентка, вы должны предоставить скидку.</p>
                <p><i>Jeси добро, немој плакати.</i> — У тебя всё в порядке, не плачь.</p></li>
            <li>когда с помощью глагола <i>бити</i> задается общий вопрос (в 3-м лице ед. ч. — краткая форма <i>je</i>);
                <p><i>Јесте лекари?</i> — Вы врачи?</p>
                <p><i>Јесам здрава?</i> — Здорова ли я?</p></li>
        </ul></section>
    <section></section>

    <section><h2>Тест</h2>Переведите предложения.
        <div class="test">
            <p>1. Я студент.</p>
            <input class='test-1' action='' method='POST'>
                <p class="input" type="text" name="question-1"></p>
                <button class="input" type="submit" value="Проверить"></button>
            </input>
        </div>
    </section>

</div>

{% endblock %}