{% extends "base.html" %}

{% block content %}

<div class="page-background">
    <header class="head-container">
        <h1 class="h1-main"></h1>
    </header>
    <lead class="lead-main"></lead>
    <div class="container">
        <div class="course">
            <div class="content-container">
                <div class="lecture" id="1">
                    <div class="lecture-nb">1</div>
                    <a href="alphabet.html" class="theme">Кириллица и гаевица</a>
                </div>
                <div class="lecture" id="2">
                    <div class="lecture-nb">2</div>
                    <div class="theme">Правила чтения и произношения</div>
                </div>
                <div class="lecture" id="3">
                    <div class="lecture-nb">3</div>
                    <div class="theme">Личные местоимения</div>
                </div>
                <div class="lecture" id="4">
                    <div class="lecture-nb">4</div>
                    <a href="biti.html" class="theme">Глагол-связка <i>бити</i> в настоящем времени</a>
                </div>
                <div class="lecture" id="5">
                    <div class="lecture-nb">5</div>
                    <div class="theme">Еще тема</div>
                </div>
            </div>
        </div>
        <div class="right-hand">
            <div class="author">
                <div class="author-photo">
                    <img src="static/her.png" class="author-photo" alt="creator">
                </div>
                <div class="author-name">
                    <p class="author-name_name">Анна Кочановская</p>
                    <p class="author-name_bio">Автор курса, лингвист, преподаватель</p>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}