{% extends "base.html" %}

{% block content %}

<header class="head-container">
    <h1>Полезные материалы</h1>
</header>
<section><h2>Учебная литература</h2></section>
<div class="tile">
    <div class="book">
        <p class="book-title">Научимо српски</p>
        <p class="book-authors">Нови Cад, 2006</p>
        <p class="book-info">Объяснений на русском нет. Со словарем можно использовать для самостоятельного изучения языка. Из плюсов – есть аудио, из минусов – нет ударений и ответов к упражнениям. </p>
    </div>
    <div class="book">
        <p class="book-title">Сербский язык. Начальный курс</p>
        <p class="book-authors">О.И. Трофимкина, Д. Дракулич-Прийма, 2011</p>
        <p class="book-info">Достойный внимания учебник-самоучитель на русском языке с объяснениями, аудио и упражнениями. К упражнениям есть ключи.</p>
    </div>
    <div class="book">
        <p class="book-title">Teach Yourself Serbian</p>
        <p class="book-authors">Vladislava Ribnikar and David Norris, 2003</p>
        <p class="book-info">Самоучитель сербского на английском языке. К учебнику есть аудиоматериалы и упражнения с ответами.</p>
    </div>
    <div class="book">
        <p class="book-title">Сербский язык. Самоучитель</p>
        <p class="book-authors">В. Чарский, Живой язык, 2016</p>
        <p class="book-info">Темы в учебнике соответствуют уровням А1-А2. Есть тексты для чтения, упражнения с ключами. Подойдет для студентам с минимальной базой, диалоги сложноваты. Но к ним даются переводы на русский, а все слова в примерах с ударениями.</p>
    </div>
</div>
<section><h2>Грамматики</h2></section>
<div class="tile">
    <div class="book">
        <p class="book-title">Сербохорватский язык</p>
        <p class="book-authors">А.Г. Кречмер, Г. Невекловский, 2012</p>
        <p class="book-info">Пособие на 62 страницах рассказывает об особенностях сербского, хорватского, боснийского и черногорского языков.</p>
    </div>
    <div class="book">
        <p class="book-title">Сербский язык. Справочник по грамматике</p>
        <p class="book-authors">В.В. Чарский, 2013</p>
        <p class="book-info">Примеры сопровождаются переводом и системой ударений. Хорошо дополняет самоучитель сербского.</p>
    </div>
    <div class="book">
        <p class="book-title">Gramatolomija: pregledna gramatika srpskoga jezika</p>
        <p class="book-authors">Dušanka Vujović, 2003</p>
        <p class="book-info">Грамматика на сербском для начальной школы. Есть упражнения с ответами. Подойдет для знакомства с терминами.</p>
    </div>
    <div class="book">
        <p class="book-title">Граматика српског jезика</p>
        <p class="book-authors">Душка Кликовац, 2010</p>
        <p class="book-info">Справочник по грамматике для школьников на сербском языке, без упражнений.</p>
    </div>
</div>

{% endblock %}